In [1]:
import pandas as pd
import time

# Komplette Liste
Zuerst füllen wir die Anbieter aus, die keine 100%-gen Ökostromanbieter sind. 
Diese scheitern bereits an RoWo Kiterium A.

In [97]:
merged = pd.read_csv("lichtblick/Lichtblick-RoWo-merged-20190826-cleaned.csv")
merged[['Firmenname', 'RoWo Liste', 'Erneuerbare Energien 2','RoWo-Kriterien', 'A']].head()

,Firmenname,RoWo Liste,Erneuerbare Energien 2,RoWo-Kriterien,A
0,123energie - Eine Marke der Pfalzwerke AG,True,5.80%,A,NaN
1,17er Oberlandenergie GmbH,True,0.00%,D,NaN
2,24/7 Energie und Kommunikation GmbH,True,0.00%,A,x
3,4hundred GmbH,NaN,100.00%,NaN,NaN
4,Abens-Donau Energie GmbH,NaN,0.21%,NaN,NaN

In [98]:
print(len(merged.loc[merged['RoWo-Kriterien'] == 'A']))

merged.loc[merged['Erneuerbare Energien 2'] != "100.00%", 'RoWo-Kriterien'] = 'A'
merged.loc[merged['Erneuerbare Energien 2'] != "100.00%", 'A'] = 'x'
merged.loc[merged['Erneuerbare Energien 2'] != "100.00%", 'RoWo Liste'] = True

print(len(merged.loc[merged['RoWo Liste'] != True]))

570
49

Dann wird germergt!

In [99]:
oeko_list = pd.read_csv("merged_data/oeko_list_large-20190826-cleaned.csv")
oeko_list

list_ = pd.merge(merged,
               oeko_list,
               on="Firmenname",
               how="outer")

print(merged.shape)
print(oeko_list.shape)
print(list_.shape)

print("Write to csv")
list_.to_csv("liste-komplett-{}.csv".format(time.strftime("%Y%m%d-%H%M%S")))

list_.head()

(1171, 38)
(1202, 15)
(1278, 52)
Write to csv

,Lichtblick Liste,RoWo Liste,Firmenname,Stromkennzeichnung Atom,Kohle,Erdgas,sonst. Fossil,EEG Strom,Erneuerbare Energien,Check,...,Ökotest,EcoTopTen,Utopia,Stromauskunft echter Oekostrom,Telefon,Website,Verfügbarkeit,Firmenanschrift,PLZ_y,Firmenort
0,True,True,123energie - Eine Marke der Pfalzwerke AG,12.00%,41.00%,11.00%,1.00%,31.00%,4.00%,100.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,True,17er Oberlandenergie GmbH,NaN,NaN,NaN,NaN,NaN,NaN,0.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Viehmarktplatz 1,82418,Murnau am Staffelsee
2,True,True,24/7 Energie und Kommunikation GmbH,NaN,NaN,NaN,NaN,NaN,NaN,0.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Meeboldstraße 1,89522,Heidenheim
3,True,NaN,4hundred GmbH,0.00%,0.00%,0.00%,0.00%,47.00%,53.00%,100.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,True,Abens-Donau Energie GmbH,10.70%,27.20%,7.80%,1.30%,52.90%,0.10%,100.00%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Jetzt haben wir wirklich alles zusammen!
Noch einmal in Open Refine checken, ob noch Doppelungen drin sind und dann, fertig.

In [101]:
complete = pd.read_csv("liste-komplett-20190827-cleaned.csv")
print(complete.shape)
complete.head()

(1218, 32)

,Lichtblick Liste,RoWo Liste,Andere Liste,Firmenname,Erneuerbare Energien 2,Kennzeichnung Link,Anmerkungen,Adresse,PLZ,Stadt,...,Bemerkung,Grüner Strom,OK Power,Stromauskunft,Verivox,Ökotest,EcoTopTen,Utopia,Stromauskunft echter Oekostrom,Telefon
0,True,True,NaN,123energie - Eine Marke der Pfalzwerke AG,5.80%,https://www.123energie.de/service/462.php,NaN,Kurfürstenstraße 29,67061,Ludwigshafen,...,NaN,NaN,True,True,True,True,True,NaN,NaN,0621 570573123
1,True,True,NaN,17er Oberlandenergie GmbH,0.00%,https://17er.com/die-17er/service/stromkennzei...,nicht vorhanden,Viehmarktplatz 1,82418,Murnau am Staffelsee,...,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN
2,True,True,NaN,24/7 Energie und Kommunikation GmbH,0.00%,https://www.elissa.de/produkte-elissa/elissa-s...,nicht aktuell,Meeboldstraße 1,89522,Heidenheim,...,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN
3,True,NaN,NaN,4hundred GmbH,100.00%,https://www.4hundred.com/stromkennzeichnung/,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
4,True,True,NaN,Abens-Donau Energie GmbH,0.21%,https://www.abens-donau-energie.de/strom-fuer-...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN